.top-nav {
	background: #eee;
	height: 50px;
}
ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	background: #333;
}
li {
	float: left;

}
a {
	display: block;
	padding: 8px;
	text-decoration: none;
	color: #111;
}
li:nth-child(2) {
	float: right;
}
img {
	height: 20px;
	width: 20px;
}